@using CommunityWebsite_Lexicon_Project.Models.BaseModels
@using CommunityWebsite_Lexicon_Project.Models.ViewModels
@model NewsViewModel
@{
    ViewData["Title"] = "Newsfeed";
}
@{
    @for (int xx = 0; xx < @Model.Posts.Count; xx++)
    {
        <div class="card" style="width: 18rem; text-align:center">
            <div class="card-body">
                <h5 class="card-title">@Model.Posts[xx].Title</h5>
                <p style="font-size:small">@Model.Posts[xx].OriginalPoster.UserName</p>
                <p style="font-size:small; margin-top:-12px">@Model.Posts[xx].CreationDateTime</p>
                <hr />
                <!-- <a href="#" class="btn btn-primary">Temp Link</a> --> <!-- Edit, Reply -->
            </div>
            <p class="card-text" style="text-justify:auto; margin-top:-15px">@Model.Posts[xx].Message</p>

            @foreach (Image image in @Model.Images)
            {
                if (@image.BelongsToThisPostId == @Model.Posts[xx].PostId)
                {
                    bool isWebM = @image.FileName.EndsWith(".webm");
                    bool isGIF = @image.FileName.EndsWith(".gif");
                    bool isMP4 = @image.FileName.EndsWith(".mp4");
                    if (isWebM || isMP4)
                    {
                        <div style="width:100%; height:100%; overflow:hidden;">
                            <a href="~/uploaded_images/@image.FileName">
                                <video controls loop src="~/uploaded_images/@image.FileName" style="width:100%; height:100%;">
                                </video>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div style="align-content:center">
                            <a href="~/uploaded_images/@image.FileName">
                                <img src="~/uploaded_images/@image.FileName" class="img-thumbnail" style="block-size:contain">
                            </a>
                        </div>
                    }
                }
            }
            <div class="card" style="height:min-content">
                <ul class="list-inline" style="text-align:center">
                    @foreach (Tag tag in @Model.Posts[xx].Tags)
                    {
                        <li class="list-inline-item" style="font-size:smaller">
                            @tag.Value
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}

@if (ViewBag.Message != null)
{
    <div>
        @ViewBag.Message
    </div>
}