@using CommunityWebsite_Lexicon_Project.Models.BaseModels
@using CommunityWebsite_Lexicon_Project.Models.ViewModels;
@model NewsViewModel
@{
    ViewData["Title"] = "Newsfeed";
}
@{
<div>
    <h1>News</h1>
    @foreach (var item in Model.Posts.OrderByDescending(d => d.CreationDateTime)){
        <div>
            <p>Author: @(item.OriginalPoster?.UserName ?? "N/A")</p>
            <p>Title: @item.Title</p>
            <p>Date: @item.CreationDateTime.ToString("dd/MM/yyyy")</p>

                @if (item.AttachedImages != null)
                {
                    foreach (Image images in item.AttachedImages)
                    {
                        <img src="@images.Path" />
                    }
                }

            @if(item.isBlogPost == true){
                <p>This is a blog post.</p>
            } else if(item.isForumThread == true){
                <p>This is a forum thread.</p>
            } 
            

            @if(item.isReadOnly == true){
                <p>This post has been locked.</p>
            }

            <div class="content">
                <p>@item.Message</p>
            </div>

           
        </div>
    }
</div>
}

@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
}